body {
    background-image: url(../images/bg-body.png);
    box-sizing: border-box;   
    margin: 0;
}

header div{
    display: flex;
    justify-content: center;
}

header div img {
    width: 180px;
    border-radius: 50%;
    margin-top: 15px;
    margin-bottom: 30px;
}

nav .ul-1 {
    display: flex;
    justify-content: space-around;
    margin: 0px;
    margin-bottom: 20px;
    padding-right: 75px;
    padding-left: 75px;
   
}

nav .ul-1 .li-1 {
    background-color: rgb(51, 51, 51);
    color: white;
    text-transform: uppercase;
    list-style-type: none;
    width: 180px;
    height: 50px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    line-height: 50px;
}

main section.destaque {
    display: flex;
    justify-content: center;
}

.banner img {
    width: 1180px;
    margin-bottom: 30px;
}

main section.blocos1 {
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
    margin-left: 70px;
    margin-right: 85px;
}

.blocos1 div img {
    width: 380px;
}

.blocos1 div {
    padding-left: 20px;
   
}

.blocos1 div p {
    text-align: justify;
}

.blocos1 div h2  {
   font-size: 25px;
   margin-top: 10px;
   margin-bottom: 10px;
}

.blocos1 div button {
    background-color: rgb(51, 51, 51);
    color: white;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    height: 35px;
    width: 80px;
    margin-top: 10px;
    margin-bottom: 30px;
}

main section.blocos2 {
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
    margin-left: 70px;
    margin-right: 85px;
}

.blocos2 div img {
    width: 380px;
}

.blocos2 div {
    padding-left: 20px;
   
}

.blocos2 div p {
    text-align: justify;
}

.blocos2 div h2  {
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
 }
 
 .blocos2 div button {
     background-color: rgb(51, 51, 51);
     color: white;
     border: none;
     font-family: Arial, Helvetica, sans-serif;
     height: 35px;
     width: 80px;
     margin-top: 10px;
     margin-bottom: 30px;
 }

footer .footer .ul-2 {
     background-color:rgb(187, 0, 0);
     color: white;
     display: flex;
     justify-content: center;
     height: 100px;
     margin-left: 70px;
     margin-right: 85px;
     line-height: 100px;
     list-style-type: none;
     border-top-left-radius: 30px;
     border-top-right-radius: 30px;
 }

 footer .footer .ul-2 li {
     padding-left: 25px;
     
 }

